[submodule "Taurus/dependencies/spdlog"]
	path = Taurus/dependencies/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Taurus/dependencies/GLFW/GLFW"]
	path = Taurus/dependencies/GLFW/GLFW
	url = https://github.com/glfw/glfw
[submodule "Taurus/dependencies/imgui/imgui"]
	path = Taurus/dependencies/imgui/imgui
	url = https://github.com/ocornut/imgui
